<tr class="profile-row">
	<td colspan="3">
	  <div class="profile">
		<div class="profile-left">
		  <h1>{{header.name}}</h1>
		  <p class="goal">{{header.goalLife}}</p>
		</div>
		<div class="profile-photo">
		  <img src="{{header.photoUrl}}" alt="Foto de perfil">
		</div>
		<div class="profile-contact">
		  <p><strong>Email:</strong> {{header.email}}</p>
		  <p><strong>Teléfono:</strong> {{header.phoneNumber}}</p>
		  <p><strong>Ubicación:</strong> {{header.location}}</p>
		  <p><strong>Red Social:</strong> {{header.socialNetwork}}</p>
		</div>
	  </div>
	</td>
  </tr>
  


<!--<tr>
	<td>
	    {{header.name}} <br>
	    {{header.goalLife}}
	</td>
	<td>
		<img src ="{{header.photoUrl}}" width='200' height='200'>
	</td>
	<td>
	    {{header.email}}<br>
	    {{header.phoneNumber}}<br>
	    {{header.location}}<br>
	    {{header.socialNetwork}}
	</td>
</tr>-->

